@import url('https://fonts.googleapis.com/css?family=PT+Sans|Russo+One&display=swap');

* {
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, header, main, footer, nav, p {
    margin: 0;
    padding: 0;
}

main {
  padding: 0 80px;
  font-family: 'PT Sans', sans-serif;
  scroll-behavior: smooth;
}

#logo-container .logo {
  margin-top: 10px;
  font-family: 'Russo One', sans-serif;
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  color: #1c1c1c;
}

.navbar {
   background-color: white;
   overflow: hidden;
}

.nav-link {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  text-transform: uppercase;
  color: #1c1c1c;
  opacity: 0.6;
  transition: 0.3s;
  margin-right: 15px;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: none;
  opacity: 1;
  font-weight: bold;
  font-style: italic;
  color: #1c1c1c;
  font-weight: 900;
  background-color: yellow;
}

.search-container {
  display: flex;  
}

.search-container input[type=text] {
  border: 1px solid #ccc;  
}

.search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: white;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search-container button :hover {
  background-color: yellow;
}


@media (max-width: 600px) {
  .search-container {
    display: none;
  }
  main {
    padding: 0;
  }
  .carousel-caption .heading {
    font-size: 14px;
  }

  .subscription-container {
   width: 100%;
   text-align: center;
  }
}

.container-fluid {
  margin-top: 15px;
}

.heading {
  font-family: 'Russo One', sans-serif;
  text-align: center;
  text-decoration: none;
}

h2:hover {
 font-style: italic;
 background-color: yellow;
 cursor: pointer;
}

.carousel-item .carousel-caption {
  background-color: white;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

.carousel-caption .heading {
  color: black;  
}

.carousel-caption a:hover{
  text-decoration: none;
  color: black;  
}

.row .col-md .card {
  border: none;
}

.row {
  margin-bottom: 50px;
}

.col-lg-4 {
  margin-top: 15px;
}
.carousel-item img {
   width: 100%;
}

.trending-stories {
  overflow: auto;
  width: 100%;
  padding: 5px 0;
}

.trending-stories .tr-news {
  float: left;
  margin-right: 10px;
}

.trending-stories a {
  text-decoration: none;
  color: black;
  font-size: 19px;
}

.subscription-container {
  padding:25px;
  width: 300px;
  -webkit-box-shadow: -24px 10px 0px 12px rgba(4,0,255,1);
  -moz-box-shadow: -24px 10px 0px 12px rgba(4,0,255,1);
  box-shadow: -24px 19px 0px 12px rgba(4,0,255,1);
border: #1c1c1c 2px solid;
}

.subscription-container input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.subscription-container input[type=checkbox] {
  margin-top: 16px;
}
.subscription-container input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

.subscription-container input[type=submit]:hover {
  background-color: yellow;
  color: black;
}

#contact-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 30px;
}

#contact-form input[type=text], select, textarea {
  width: 100%;
  border: 1px solid #ccc;
  resize: vertical;
}

#contact-form input[type=submit] {
  background-color: black;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

#contact-form input[type=submit]:hover {
  background-color: yellow;
  color: black;
}

footer {
  text-align: center;
}

.col-sm-6 .badge {
  cursor: pointer;
}

.col-sm-6 a {
  text-decoration: none;
  color: black;
  margin-right:15px;
  font-size: 30px;
  cursor: pointer;
}

.col-sm-6 a:hover {
  text-decoration: none;
  color: black; 
}

.col-sm-6 {
 margin-top: 10px;
}

.clock {
  position: relative;
  left: 60%;
  transform: translateX(-50%) translateY(-50%);
  color: rgba(4,0,255,1);
  font-size: 50px;
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 7px;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'PT Sans', sans-serif;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}